In [2]:
str1 = 'Hello'
str2 = 'World'
final_str = str1 +' '+ str2    # string concatenation 
                              # we can add string with empty space to add a space between hello world
final_str

'Hello World'

In [3]:
str1 = 'Hello'
str2 = 'World'
final_str = str1 +' '+ str2  +'!'   
                              
final_str

'Hello World!'

In [4]:
len(final_str)

12

In [5]:
# string slicing

final_str[0:5]

'Hello'

In [6]:
final_str[-1]

'!'

In [7]:
final_str[3:8]

'lo Wo'

In [8]:
final_str[0::2]             # here 2 tells , how many steps size its going to jump
                           
                            # first colon : tells , from where it starts
                            # second colon : tells, from where it ends
                            # third colon : tells , how many steps we have to take

'HloWrd'

In [9]:
final_str

'Hello World!'

In [10]:
final_str[0::1]

'Hello World!'

In [11]:
final_str[0::3]

'HlWl'

In [12]:
final_str

'Hello World!'

In [13]:
final_str.isupper()          # in this it checks our whole string is in uppercase or not ?


                                 # if we add is, in any function , it means we are asking question to system
                                 # the answer of is , question is always in either true or false

False

In [14]:
final_str.upper()

'HELLO WORLD!'

In [15]:
final_str.lower()

'hello world!'

In [16]:
# these function are only executed at cell level , if call our string it gives me , original format not these changed functions

In [17]:
final_str

'Hello World!'

In [18]:
# if we want to change our string , we have to overwrite it ,or assign it to new variables

In [19]:
final_str = final_str.upper()

In [20]:
final_str     # here we overwrite it permanently

'HELLO WORLD!'

In [21]:
final_str1 = final_str.lower()      # assign it to new variable

In [22]:
final_str1

'hello world!'

In [23]:
final_str1.islower()

True

In [24]:
y = final_str1

In [25]:
y.title()        #change data into title formate

'Hello World!'

In [26]:
y.capitalize()           #capitalize first word

'Hello world!'

In [27]:
# To check what these functions are doing , just hover your mouse over the function and it shows its property

In [28]:
y.casefold()

'hello world!'

In [29]:
y.encode()

b'hello world!'

In [30]:
final_str

'HELLO WORLD!'

In [31]:
final_str.replace("WORLD","Everyone")

'HELLO Everyone!'

In [33]:
final_str.replace('HELLO','Hi')

'Hi WORLD!'

In [34]:
final_str = "     Hello World     "

In [35]:
final_str

'     Hello World     '

In [36]:
final_str.strip()     # removes empty spaces thats are unnecessary

'Hello World'

In [37]:
new_str = 'This is a good day to learn data science'

In [38]:
new_str.split()     # it splits data one on one , and give output in form of list

['This', 'is', 'a', 'good', 'day', 'to', 'learn', 'data', 'science']

In [39]:
str_list = new_str.split()

In [40]:
str_list

['This', 'is', 'a', 'good', 'day', 'to', 'learn', 'data', 'science']

In [41]:
''.join(str_list)

'Thisisagooddaytolearndatascience'

In [42]:
' '.join(str_list)

'This is a good day to learn data science'

In [43]:
'*'.join(str_list)

'This*is*a*good*day*to*learn*data*science'

In [47]:
# string formatting

name = 'Jack Doe'

In [48]:
print('hello,%s!'% name)   # ham kitna v data me change kr le ye , updated vale data ko hi print krega

hello,Jack Doe!

In [49]:
print("Hello,Jack")  # but not in this case ,yha hme manually update krna pdhega , isi liye ham %s! use karte h

Hello,Jack

In [53]:
print(f"Hello,{name}")  # this is also one of string formatting way , we can choose whichever is comfortable to us

Hello,Jack Doe

In [54]:
print('Hello,{}'.format(name))

Hello,Jack Doe

In [55]:
a= 3
b = 4

c = a+b

In [56]:
print("the sum of a and b is c")

the sum of a and b is c

In [58]:
print("the sum of {} and {} is {}".format(a,b,c))

the sum of 3 and 4 is 7

In [60]:
print(f"the sum of {a} and {b} is {c}")

the sum of 3 and 4 is 7

In [61]:
# in methods me se koi bhi , apne according use kr skte h

# Analyze tweets

In [80]:
tweets = {"username": "user1", "timestamp": "2023-05-01 12:30", "likes": 12, "retweets": 4, "text": "I love this game!!! #GameBrand"}

In [82]:
# lets clean up the tweets
tweets

{'username': 'user1',
 'timestamp': '2023-05-01 12:30',
 'likes': 12,
 'retweets': 4,
 'text': 'I love this game!!! #GameBrand'}

In [83]:
tweets['text']

'I love this game!!! #GameBrand'

In [84]:
tweets['text'].strip()

'I love this game!!! #GameBrand'

In [85]:
tweets['text'].strip().lower()

'i love this game!!! #gamebrand'

In [86]:
new_tweet = tweets['text'].strip().lower()

In [87]:
new_tweet

'i love this game!!! #gamebrand'

In [88]:
new_tweet.split()

['i', 'love', 'this', 'game!!!', '#gamebrand']

In [89]:
# list comprehensition ko smgh rhe h

for i in range (1,6):
    print(i**2)

1
4
9
16
25

In [90]:
# list comprehension

[i**2 for i in range(1,6)]

[1, 4, 9, 16, 25]

In [93]:
[word for word in new_tweet.split() if word.startswith('#')]  # startswith , check karta h jo v parameter hamne diya h , usse word start hota h ki nhi

['#gamebrand']

In [94]:
''' 
iska matlab

word ko words new_tweet se lao ,jo ki start h # se
 
 '''

' \niska matlab\n\nword ko words new_tweet se lao ,jo ki start h # se\n \n '

In [95]:
# isko ese bhi likh skte h , pr vha list me dega because it is list comprehnsion

for word in new_tweet.split():
    if word.startswith('#'):
        print(word)

#gamebrand